/**
 *  Core Styles
 *
 *  Anything that doesn't fit into a specific "module" sits here.
 *
 *  @package mkwst.projects
 *  @module  core
 */
html {
  background:     #DDD;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(204,204,204)),
      color-stop(0.8, rgb(238,238,238))
  );
  background: -moz-linear-gradient(
      center top,
      rgb(204,204,204) 50%,
      rgb(238,238,238) 80%
  );

  min-height:     100%;
  overflow-y:     scroll;
}

body {
  background:     #EEE;
  border:         5px solid #FFF;
  border-radius:  0 0 5px 5px;
  font:           16px/1.5 Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
  margin:         0 auto 2em;
  padding:        0 20px 20px;
  position:       relative;
  width:          600px;

  -webkit-box-shadow: 0 0 10px rgba( 0, 0, 0, 0.75 );
  -moz-box-shadow: 0 0 10px rgba( 0, 0, 0, 0.75 );
  box-shadow: 0 0 10px rgba( 0, 0, 0, 0.75 );

  -webkit-background-clip:  padding-box;
}

strong {
    font-weight:    700;
}

.offscreen {
  position: absolute;
  left:     -999em;
}

/*  HEADERS */
h2 {
  border-bottom:  1px solid #CCD;
  clear:          both;
  font:           25px/1.35 Baskerville, Times, 'Times New Roman', serif;
  margin:         0 0 0.5em;
}

/*  PARAGRAPHS */
p {
  margin: 1em 0;
}

/*  LISTS */
ol,ul {
    padding-left:   20px;
}
    ol li {
        list-style: decimal outside;
    }
    ul li {
        list-style: disc outside;
    }

/*  LINKS */
a {
  color:            #4183C4;
  text-decoration:  none;
}
    a:hover, a:focus, a:active {
        text-decoration:    underline;
    }

/*  IMAGES */
img {
    display:    block;
    margin:     0 auto;
}
    img.screenshot {
        background: #FFF;
        padding:    1px;
        border:     3px solid #999;
    }

/**
 *  Copyright
 */
.license {
    position:   absolute;
    bottom:     -2em;
    right:      0;
}
